@font-face {
  font-family: "Elephant";
  src: url("../fonts/elephant.ttf") format("truetype");
  /* Adjust the path and format according to the downloaded font file */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Elephant", sans-serif;
    background-color: #fff;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .galery {
    background: url("./assets/img/bgLarge.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .btn__glow,
  .btn__header {
    display: block;
    width: fit-content;
    padding: 8px 28px;
    border-radius: 8px;
    background-color: #d64912e0;
    transition: all 0.1s ease-in-out;
    color: white;
  }
  .btn__header__1 {
    box-shadow: 0 0 25px #f24603e0;
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .btn__header__1:hover {
    letter-spacing: 0.1rem;
  }

  .btn__header__2:hover {
    box-shadow: 0 0 35px #f24603e0;
    letter-spacing: 0.1rem;
  }

  .btn__header__2:hover + .btn__header__1 {
    box-shadow: none;
  }

  .btn__glow:hover {
    box-shadow: 0 0 35px #f24603e0;
    letter-spacing: 0.1rem;
  }

  .nav__btn {
    position: relative;
    transition: all 0.2s;
  }
  .nav__btn::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #f24603e0;
    position: absolute;
    transition: width 0.2s;
  }
  .nav__btn:hover::after {
    width: 90%;
  }
  .nav__btn:hover {
    transform: scale(1.1);
  }

  .title {
    z-index: 100;
    color: #d64a12;
    /* color: #102948; */
    opacity: 0.8;
    text-shadow: -1px -1px 0 #000000, 1px -1px 1px #dca80d, -1px 1px 0#fff,
      1px 1px 0 #dca80d;
  }

  .text__container {
    background: url("https://i.imgur.com/60Jm7qe.jpeg") no-repeat center center;
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .text__container2 {
    background: url("https://i.imgur.com/Mpz8Lzn.jpeg") no-repeat center center;
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .fade-in-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: all 500ms ease-in-out;
  }

  .fade-in-bottom.is-visible {
    opacity: 1;
    transform: translateY(0px);
  }

  @media (min-width: 600px) {
    @media (min-width: 992px) {
      .rotate-lg-6 {
        transform: rotate(6deg);
      }
    }
  }
}
