@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Playfair Display", serif;
    background-color: #fff;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .galery {
    background: url("./assets/img/bgSmall.jpg");
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat;
  }

  .btn__glow,
  .btn__header {
    display: block;
    width: fit-content;
    padding: 8px 28px;
    border-radius: 8px;
    background-color: rgba(96, 165, 250);
    transition: all 0.1s ease-in-out;
    color: white;
  }
  .btn__header__1 {
    box-shadow: 0 0 50px rgb(96 165 250);
  }

  .btn__header__1:hover {
    letter-spacing: 0.1rem;
  }

  .btn__header__2:hover {
    box-shadow: 0 0 35px rgb(96 165 250);
    letter-spacing: 0.1rem;
  }

  .btn__header__2:hover + .btn__header__1 {
    box-shadow: none;
  }

  .btn__glow:hover {
    box-shadow: 0 0 35px rgb(96 165 250);
    letter-spacing: 0.1rem;
  }

  .nav__btn {
    position: relative;
    transition: all 0.2s;
  }
  .nav__btn::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #6699cc;
    position: absolute;
    transition: width 0.2s;
  }
  .nav__btn:hover::after {
    width: 90%;
  }
  .nav__btn:hover {
    transform: scale(1.1);
  }

  .title {
    z-index: 100;
    color: rgba(250, 250, 250, 1); /* set the text color to transparent */
    opacity: 0.5;
    text-shadow: -1px -1px 0 #031338, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .fade-in-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: all 500ms ease-in-out;
  }

  .fade-in-bottom.is-visible {
    opacity: 1;
    transform: translateY(0px);
  }

  @media (min-width: 600px) {
    .galery {
      background: url("./assets/img/bgLarge.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 992px) {
    .rotate-lg-6 {
      transform: rotate(6deg);
    }
  }
}
